{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>코트라 백호</title>
        <style>
            
            #menubar ul { 
                margin : 0;
                padding : 0px;  
            }
            #menubar ul li {
                margin : 0px;
                display : inline-block; 
                list-style-type : none; 
                padding : 30px; 

            }
            #menubar ul li a {
                color : navy;
                font-size: 30px;
                text-decoration : none; 
            }
            #menubar ul li a:hover {
                color : white;
                background : navy; 
            }

            div#right-box {
                float: right;
            }
            body {
                padding: 150px;
                padding-top: 30px;
                
            }

            td, th {
                text-align: left;
                padding: 5px;
                height: 15px;
                
            }
            thead {
                background: navy; 
                color: white;
            }
            td {
                border-bottom: 1px solid gray;
                word-break: break-all;
            }

        </style>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href={% static "warn/css/styles.css" %} rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
            

    <div>
    <body>
        
        <nav id="menubar">
            <center>
            <ul>
                {% for c in countries %}
                    <!-- url 꼬이는거 해결 -->
                    <li><a href="http://127.0.0.1:8000/baekho/menu/{{c.id}}">{{c.name}}</a></li>
                {% endfor %}
            </ul>
            </center>
        </nav> 

    
        <div id="layoutSidenav">
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">{{country.name}} <a href="url"><img src="{{country.img_path}}" border="0" width="66px" height="44px" style="margin:10px"></a> </h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">{{country.name_eng}}</li>
                        </ol>
                        <p>
                            {{country.txt}}
                        </p>
                        


                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                최근 고시정보
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <ul>
                                        {% for o in opening %}
                                            <li><a href="{{o.number}}">{{o.title}}</a><div id="right-box">{{o.date}}</div> </li>
                                            <br>
                                            
                                            <table width="100%" style="margin-left: auto; margin-right: auto;" >
                                                <thead>
                                                    <tr><th scope="col">bigram</th><th scope="col">hscode</th><th scope="col">name</th><th scope="col">sim</th></tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <colgroup>
                                                        <col style = "width:30%">
                                                        <col style = "width:8%">
                                                        <col style = "width:47%">
                                                        <col style = "width:15%">
                                                    </colgroup>

                                                        <tr><td></td></tr>
                                                        
                                                        <tr><td>{{o.word1_ngram}}</td><td>{{o.word1_code}}</td><td>{{o.word1_name}}</td><td>{{o.word1_sim}}</td></tr>
                                                        <tr><td>{{o.word2_ngram}}</td><td>{{o.word2_code}}</td><td>{{o.word2_name}}</td><td>{{o.word2_sim}}</td></tr>
                                                        <tr><td>{{o.word3_ngram}}</td><td>{{o.word3_code}}</td><td>{{o.word3_name}}</td><td>{{o.word3_sim}}</td></tr>
                                                        <tr><td>{{o.word4_ngram}}</td><td>{{o.word4_code}}</td><td>{{o.word4_name}}</td><td>{{o.word4_sim}}</td></tr>
                                                        
                                                        <!--
                                                        <tr><td>offering sale transportation</td><td>8704</td><td>Motor vehicles for the transport of goods.Motor vehicles for the transport of goods.Motor vehicles for the transport of goods.image.png</td><td>0.587097</td></tr>
                                                        <tr><td>offering sale transportation</td><td>8704</td><td>Motor vehicles for the transport of goods.</td><td>0.587097</td></tr>
                                                        <tr><td>offering sale transportation</td><td>8704</td><td>Motor vehicles for the transport of goods.</td><td>0.587097</td></tr>
                                                        <tr><td>offering sale transportation</td><td>8704</td><td>Motor vehicles for the transport of goods.</td><td>0.587097</td></tr>
                                                        <tr><td>offering sale transportation</td><td>8704</td><td>Motor vehicles for the transport of goods.</td><td>0.587097</td></tr>
                                                        -->

                                                    </tbody>         
                                                
                                            </table>
                                            <hr>
                                        {% endfor %}
                                    </ul>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">여기바꾸기 Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</div>
</html>