{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <title>페이지 2</title>
        <style>
            body {
                padding: 150px;
                padding-top: 50px;
            }

            td, th {
                text-align: left;
                padding: 5px;
                height: 15px;
            }

            thead {
                background: navy;
                color: white;
            }

            td {
                border-bottom: 1px solid gray;
                word-break: break-all;
            }
                 

        </style>

        <script type="text/javascript">
            function toKo() {
                document.getElementById("summary").innerHTML = "{{info.txt}}";
            }

            function toEn() {
                document.getElementById("summary").innerHTML = "{{info.txt_eng}}";
            }
        </script>
        
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href={% static "warn/css/styles.css" %} rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    </head>
            

    <div>
        <body> 
            <h3> <a href="{{info.url}}", target="_blank"> {{info.title}} </a> </h3>
            {{info.date}}  

            <div class="row" style="padding-top: 30px">
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header" >
                            <h3 style="padding: 5px">요약본 </h3>
                            <input type="button" value="영어" onclick="toEn()" style="float:right"/>
                            <input type="button" value="한국어" onclick="toKo()"  style="float:right; margin-right: 20px;"/>
                            
                        </div>
                        <p id="summary" style="padding:15px; font-size: 24px; overflow: auto; height: 457.5px">
                            {{info.txt}} 
                        </p>
                       
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 style="padding: 5px"> 워드클라우드 </h3> 
                        </div>
                        <div "card-body">
                            <center> <img src="{{info.img}}" style="padding: 20px" width="90%" border="0" /> </center>

                                
                    </div>
                </div>
                <div class="col-xl-60">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3 style="padding: 5px"> 관련산업군 </h3>
                        </div>
                        <div "card-body">
                            <div style="overflow:auto; height: 250px;">
                            <table id="datatablesSimple" style="width: 95%; margin-left: auto; margin-right: auto; ">
                                <br>
                                <thead>
                                    <tr><th scope="col">hscode</th><th scope="col">name</th><th scope="col">KSIC10</th><th scope="col">name</th></tr>
                                </thead>
                                <tbody>

                                    <colgroup>
                                        <col style = "width:20%">
                                        <col style = "width:30%">
                                        <col style = "width:20%">
                                        <col style = "width:30%">
                                    </colgroup>
                                    
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>
                                    <tr><td>100610</td><td>벼</td><td>1123</td><td>종자 및 묘목 생산업</td></tr>

                                </tbody>

                            </table>
                            </div>

                            <br>

                                
                    </div>
                </div>
                
            </div>

        </body>

    </div>
    
</html>